.axie-app {
  .global-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    .side-by-side {
      display: flex;
      margin-bottom: 24px;
    }

    .main-cta {
      display: flex;
      flex-direction: column;

      button {
        &:first-of-type {
          color: White;
          background-color: #e57e05;
        }

        &:not(:last-of-type) {
          margin-bottom: 12px;
        }

        &:last-of-type {
          color: White;
          margin-top: 12px;
          background-color: #e5474a;
        }
      }
    }
  }
}
